<app-header></app-header>

<div class="container" style="margin-top: 1%">

  <form class="row g-3 needs-validation newlist" (ngSubmit)="saveList(f)" #f="ngForm" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Adicionar Nova Lista</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="list.title" #model="ngModel" id="title" name="title" placeholder="Nome da lista" aria-describedby="button" required>
        <button type="submit" class="btn btn-primary" id="button">Adicionar</button>
      </div>
    </div>

    <div class="col-md-4">
      <form class="teste" (ngSubmit)="saveTask(d)" #d="ngForm">
        <label for="validationCustom01" class="form-label">Adicionar Nova Tarefa</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="task.title" #model="ngModel" id="{{list.title}}"  name="title" placeholder="Nome da tarefa" aria-describedby="button" required>
          <input class="form-control" list="datalistOptions" id="exampleDataList" [(ngModel)]="task.listId" #model="ngModel" name="taskid" placeholder="Digite a lista">
          <datalist id="datalistOptions">
            <option  *ngFor="let list of lists" value="{{list.title}}">
          </datalist>
          <button type="submit" class="btn btn-primary" id="{{list.title}}">Adicionar</button>
        </div>
      </form>
    </div>
  </form>

  <div class="row listas" style="margin-top: 1%">
    <div class="col-4" *ngFor="let list of lists">
      <div class="accordion" id="{{'accordion' + list.id}}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="{{'heading' + list.id}}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" attr.data-bs-target="#{{'collapse' + list.id}}" aria-expanded="true" attr.aria-controls="{{'collapse' + list.id}}">
              {{list.title}}
              <button type="button" class="btn btn-danger deleteList" (click)="deleteList(list)">X</button>
            </button>
          </h2>
          <div id="{{'collapse' + list.id}}" class="accordion-collapse collapse show" attr.aria-labelledby="{{'heading' + list.id}}" attr.data-bs-parent="#{{'accordion' + list.id}}">
            <div class="accordion-body">
              <ul style="list-style: none;" *ngFor="let task of tasks;">
                <li *ngIf="task.listId == list.id">
                  <input class="form-check-input" style="margin-right: 1%" type="checkbox" (click)="taskDone(task)" id="{{'checkbox' + task.id}}">
                  <label class="form-check-label" id="{{'label' + task.id}}">{{task.title}}</label>
                  <button type="button" class="btn btn-danger deleteList" (click)="deleteTask(task)">X</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>


