
<!--<div class="row" style="width: 18rem;" *ngFor="let list of lists">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{list.title}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul *ngFor="let task of tasks">
            <li *ngIf="task.listId == list.id">
              <p>{{task.title}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
-->



<div class="container">
  <div class="row">
    <div class="col" *ngFor="let list of lists">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{list.title}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul style="list-style: none;" *ngFor="let task of tasks">
                <li *ngIf="task.listId == list.id">
                  <input type="checkbox">
                  <label>{{task.title}}</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

