<div class="container-fluid footer">
    <div class="row">
        <div class="col start">
            <p>To Do List feita em Angular, HTML e CSS (Bootstrap).</p>
            <p>Fake Rest API utilizando Json-Server</p>
        </div>
        <div class="col mid">
            <a href="https://github.com/Softwerick"><img src="../../../assets/img/github.png"></a>

            <a href="https://www.linkedin.com/in/erick-hostin-82ab65193/"><img src="../../../assets/img/linkedin.png"></a>

            <a href="https://www.facebook.com/erick.gomes.7505/"><img class="face" src="../../../assets/img/facebook.png"></a>
        </div>
        <div class="col end">

        </div>
    </div>
</div>